body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
/* Form component */
.custom-fix-flex {
  justify-content: flex-end;
}
.MuiButtonBase-root.MuiFab-root.makeStyles-fab-4.MuiFab-sizeSmall.MuiFab-primary {
  outline: none;
  background-color: #17a2b8;
}
